

.line-through {
  text-decoration: line-through;
}

.margin-y-30{
  margin-top: 30px;
  margin-bottom: 30px;
}

.margin-x-30 {
  margin-left: 30px;
  margin-right: 30px;
}

input {
  width: 300px;
}